@import url("/css/components/nav-bar.css");
@import url("/css/components/footer.css");
@import url("/css/components/side-bar.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
}

a:hover{
    color: red;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

p {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 10% 55% 25% 10%;
    grid-template-rows: 45px 10vh auto 150px auto;

    grid-template-areas: "nav-bar nav-bar nav-bar nav-bar"
        "main-header main-header main-header main-header"
        ". content-area side-bar ."
        ". about about ."
        "footer footer footer footer";
}

#main-header,
#nav-bar,
.side-bar
{
    padding-left: 10%;
}

/* header */
#main-header {
    width: 80%;
    grid-area: main-header;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eee;

}

.header-heading {
    font-weight: 200;
}

/*Articles*/
#content-area {
    grid-area: content-area;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

#about {
    grid-area: about;
    justify-content: space-around;
    align-items: center;
}

.read-more {
    background-color: gainsboro;
    text-decoration: none;
    padding: 4px;
    border-radius: 2px;
}

.read-more:hover {
    background-color: orange;
    color: #000000;
}

.article {
    width: 80%;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 20px;
    border-left: 3px solid #4DB2EC;
}

/*Media Query*/
@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-template-rows: 35px 8vh auto auto 150px auto;
    
        grid-template-areas: "nav-bar nav-bar nav-bar"
            "main-header main-header main-header"
            ". content-area ."
            ". side-bar ."
            ". about ."
            "footer footer footer";
    }

    .side-bar {
        height: 200px;
        padding: 8px;
    }

    h1,
    h2,
    h3 {
        font-size: 15px;
    }

}



