@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#nav-bar {
    grid-area: nav-bar;
    display: flex;
    align-items: center;
    padding-left: 10%;
    box-shadow: 0 2px 7px -6px black;
    background-color: #4DB2EC;
}

.nav-bar-links {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;

}

.nav-bar-links:hover {
    color: #fff;
    transition: all ease 1s;
}

