.side-bar {
    grid-area: side-bar;
    border: 1px solid #eee;
    margin-top: 15px;
    height: 30vh;
    width: 30vmin;
    background-color: #eee;
    margin-top: 67px;

}

.subscribe-text {
    font-size: 15px;
}

.subscribe-input {
    width: 90%;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 7px;
}

.subscribe-button {
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: red;
    color: white;
}